.card-container {
    width: 30%;
    display: flex;
    justify-content: center;
    height: 21vh;
    margin: 0 0 2vh 0;
    align-items: center;
}

.card {
    background: #898484;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 7em;
	cursor: pointer;
	color: #f0f0f0;
    font-size: 2em;
}
